<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]='product.imageUrl' [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.price | currency:'USD':'symbol':'1.2-2'}}</p>
  </div>
  <div class="card-footer">
    <div *ngIf="item$ | async as item; else singleButton">
      <button (click)="removeFromCart(product)" class="cart-adder btn btn-primary float-left">-</button>      
        {{item.quantity}} in cart
      <button (click)="addToCart(product)" class="cart-adder btn btn-primary float-right">+</button>      
    </div>
    <ng-template #singleButton>
      <button *ngIf="showActions" class="btn btn-primary btn-block" (click)='addToCart(product)'>Add to Cart</button>
    </ng-template>
  </div>
</div>