<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]='product.imageUrl' [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.price | currency:'USD':'symbol':'1.2-2'}}</p>
  </div>
  <div *ngIf="showActions && cart" class="card-footer">
    <ng-container *ngIf="item && item.quantity; else singleButton">
      <incrementor (remove)="removeOneFromCart()" (add)="addToCart()">
          {{item.quantity}} in cart
      </incrementor>
    </ng-container>
    <ng-template #singleButton>
      <button class="btn btn-secondary btn-block" (click)='addToCart()'>Add to Cart</button>
    </ng-template>
  </div>
</div>