<i *ngIf='isLoading' class="fa fa-spinner fa-spin fa-3x"></i>
<div class="row">
  <!-- Form -->
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)='saveProduct()'>
      <div class="form-group">
        <label for="title">Title</label>
        <input 
          type="text" 
          class="form-control" 
          id="title"
          name="title"
          #title='ngModel'
          [(ngModel)]="product.title"
          required>
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
            Title is required
          </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">$</div>
          <input 
            type="number" 
            class="form-control" 
            id="price" 
            aria-describedby="inputGroupPrice"
            name="price"
            #price='ngModel'
            [(ngModel)]="product.price"
            required
            min='0'>
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <div *ngIf="price.errors.required">Price is required</div>
          <div *ngIf="price.errors.min">Price should be 0 or higher</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select 
          [(ngModel)]='product.category' 
          name='category' 
          class="form-control" 
          id="category"
          #category='ngModel'
          required>
          <option value=""></option>
          <option *ngFor="let category of categories" [value]="category.$key">{{category.name}}</option>
        </select>
        <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
          Category is required
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input 
          id="imageUrl"
          type="text"
          class="form-control"
          [(ngModel)]="cardImageUrl"
          name="imageUrl"
          #imageUrl='ngModel'
          (keyup)="imageUrlChanged(imageUrl)"
          (change)="imageUrlChanged(imageUrl)"
          required
          url>
          <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
            <div *ngIf="imageUrl.errors.required">Image URL is required</div>
            <div *ngIf="imageUrl.errors.url">Please enter a valid URL</div>
          </div>
      </div>
      <button class="btn btn-primary" [disabled]='f.invalid'>Save</button>
      <button type="button" *ngIf="productId" class="btn btn-danger" (click)='deleteProduct()'>Delete</button>
    </form>
  </div>

  <!-- Card -->
  <div class="col-md-4">
    <product-card 
      [product]="product"
      [show-actions]="false"></product-card>
  </div>
</div>
