<div class="row">
  <div class="col-md-3 filter-section">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col-md-9">
    <ng-template #noProducts>
      <h1>No items</h1>
    </ng-template>
    <ng-container *ngIf="cart$ | async as cart">
      <ng-container *ngIf="filteredProducts && filteredProducts.length; else noProducts">
        <div class="row">
          <div *ngFor="let product of filteredProducts" class="col-md-6">
            <product-card [cart]="cart" [product]="product"></product-card>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>