<div class="row">
  <div class="col-md-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col-md-9">
    <div class="row">
      <!-- Products of category -->
      <ng-template #loading>
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </ng-template>
      <ng-template #noProducts>
        <h1>No items</h1>
      </ng-template>
      <ng-container *ngIf="products$ | async as products; else loading">
        <ng-container *ngIf="products.length; else noProducts">
          <div *ngFor="let product of products" class="col-md-6">
            <div class="product-tile">
              <product-card [product]="product"></product-card>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
</div>