/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
  padding-top: 80px;
  font-family: sans-serif
}

.data-table-row, .column-header, .dropdown-toggle {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#products-grid .refresh-button, #products-grid .column-selector-button {
  display: none;
}

.dropdown a {
  cursor: pointer;
}

.form-control {
  padding: .5rem .75rem;
}

#categoriesCard li:hover:not(.active) {
  background: #f8f7f7;
}

.card .list-group-item {
  cursor: pointer;
}

.product-tile {
  margin-bottom: 30px;
}

.product-tile .add-to-cart-btn {
  width: 100%;
}