/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
  padding-top: 80px;
  padding-bottom: 10px;
  font-family: sans-serif
}

.data-table-row, .column-header, .dropdown-toggle {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.dropdown a {
  cursor: pointer;
}

.form-control {
  padding: .5rem .75rem;
}

#productsGrid .refresh-button, #productsGrid .column-selector-button {
  display: none;
}

.thumbnail-container {
  width: 75px;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.navbar {
  border-bottom: 3px solid #e6e5e5;
}

