<form #f="ngForm" (ngSubmit)='saveOrder()'>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="order.name" name="name" id="name" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="address1">Address</label>
    <input type="text" [(ngModel)]="order.address1" name="address1" id="address1" class="form-control" placeholder="Line 1" required>
  </div>
  <div class="form-group">
    <label for="address2"></label>
    <input type="text" id="address2" [(ngModel)]="order.address2" name="address2" class="form-control" placeholder="Line 2">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" [(ngModel)]="order.city" name="city" id="city" class="form-control" required>
  </div>
  <button class="btn btn-primary" [disabled]="f.invalid">Place Order</button>
</form>